[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "==1.7.8"
google-auth = "==1.6.3"
python-dateutil = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-watch = "*"
pytest-cov = "*"
pytest-mock = "*"

[requires]
python_version = "3.7"
